@using EntityLayer.Concrete
@model List<User>

@{
    ViewBag.Title = "ChangeMyPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangeMyPassword", "User", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Şifre Değişikliği</strong></p>
            <br />
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword4">Eski Şifre</label>
                        <input type="password" class="form-control" id="inputPassword5">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword5">Yeni Şifre</label>
                        <input type="password" class="form-control" id="inputPassword5">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Yeni Şifre Tekrar</label>
                        <input type="password" class="form-control" id="inputPassword6">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Kaydet</button>
        </div>
    </div>
}


