@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "ChangeMyPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangeMyPassword", "User", FormMethod.Post))
{
    <div class="col-md-12" style="width: 450px">
        <div class="card-body">
            <p class="mb-2"><strong>Şifre Güncelleme Sayfası</strong></p>
            <br />
            <div class="form-group">
                <input type="password" name="UserPassword" class="form-control" id="name" placeholder="Şu anki Şifreniz" />
                <div class="validation"></div>
            </div>

            <button class="btn btn-primary">İlerle</button>
        </div>
    </div>
}
