
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Şifre Sıfırlama Sayfası</title>
    <link rel="stylesheet" href="/light/css/simplebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/light/css/feather.css">
    <link rel="stylesheet" href="/light/css/daterangepicker.css">
    <link rel="stylesheet" href="/light/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/light/css/app-dark.css" id="darkTheme" disabled>
</head>
<body class="light ">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
                <div class="mx-auto text-center my-4">
                    <h4 class="my-3">Şifreniz Başarıyla Sıfırlanmıştır!</h4>
                </div>
                <div class="alert alert-success" role="alert"> Yeni şifreniz e-mail hesabınıza gönderilmiştir. E-mail hesabınızı kontrol edip, size gönderilmiş olan yeni şifreniz ile sisteme giriş yapabilirsiniz. </div>
                <a href="/Login/Index" class="btn btn-lg btn-primary btn-block">Giriş Ekranı</a>
            </form>
        </div>
    </div>
    <script src="/light/js/jquery.min.js"></script>
    <script src="/light/js/popper.min.js"></script>
    <script src="/light/js/moment.min.js"></script>
    <script src="/light/js/bootstrap.min.js"></script>
    <script src="/light/js/simplebar.min.js"></script>
    <script src='/light/js/daterangepicker.js'></script>
    <script src='/light/js/jquery.stickOnScroll.js'></script>
    <script src="/light/js/tinycolor-min.js"></script>
    <script src="/light/js/config.js"></script>
    <script src="/light/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');</script>
</body>
</html>
