
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Crud işlemleri test edilecek sorunsuz çalıştırılacak</h2>
<h2>Fluent API ile Validation işlemleri gerçekleştirilecek sorunsuz çalıştırılacak</h2>
<h2>Aktif Pasif yap butonları Toggle'a çevrilecek ve öğrenilip sorunsuz çalıştırılacak</h2>
<h2>login ekranı düzenlenecek, şifremi unuttum ve ikili doğrulama eklenecek, login işlemi mimariye taşınacak işlemler sorunsuz hale getirilecek</h2>
<h2>Şifreler veritabanında kriptolanacak ve sorunsuz çalıştırılacak</h2>
<h2>slider ekranı yapılacak opsiyonel fotograf üstü yazı ekleme getirilecek sorunsuz çalıştırılacak</h2>
<h2>about page'de iletişim formu çalıştırılacak ve ekstra bilgiler eklenecek</h2>
<h2>session işlemleri bitecek</h2>
<h2>oturum başlık yönetimi getirilecek</h2>
<h2>Logout işlemi, profilime git sayfası, bilgilerimi güncelle sayfası sorunsuz yapılacak</h2>
<h2>paging/sayfalama yapılacak</h2>
<h2>yetkilendirme ve rolleme işlemleri yapılacak token işlemleri yapılacak</h2>
<h2>kullanıcı sayfa işlemleri bitecek</h2>
<h2>404 500 403 sayfaları yapılacak</h2>


