@using EntityLayer.Concrete
@model List<New>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>İNTERAKTİF BİLGİ EKRANI</title>
    <style>
        .container {
            margin: 10px 0 10px 0;
        }

        .slider * {
            transition: all 0.4s ease 0s;
            user-select: none;
        }

        .slider {
            background: #ddd;
            margin: auto;
            width: 100%;
            height: 47vw;
            overflow: hidden;
            position: relative;
        }

        .slider img {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                opacity: 0;
            }
    </style>
    @*<header>
        <center><h1 style="font-family: verdana;">İNTERAKTİF BİLGİ EKRANINA HOŞGELDİNİZ!</h1></center>
    </header>*@
</head>
<body>
    <div class="container">
        <div class="slider">
            <div class="imgholder">

                @foreach (var item in Model)
                {
                    if (item.NewStatus == true)
                    {
                        <img src="@item.NewPath" alt="">
                    }
                }

            </div>
            <div class="slider_button left"></div>
            <div class="slider_button right"></div>
            <div class="slider_dots_holder"></div>
        </div>
    </div>
    <script>


        if (document.querySelectorAll(".slider").length == 1) {

            const timerlength = 5000  
            const slider = document.querySelector(".slider");
            const sliderImg = slider.querySelectorAll("img");
            const sliderPreviusButton = slider.querySelector(".left")
            const sliderNextButton = slider.querySelector(".right")
            const slider_dots_holder = slider.querySelector(".slider_dots_holder")
            const sliderCount = slider.querySelectorAll("img").length - 1
            const xxx = slider.querySelector(".imgholder")



            let currentSlider = 0;
            let dotsnum = sliderCount + 1;
            for (; dotsnum != 0; dotsnum--) {
                const realId = sliderCount - (dotsnum - 1)
                const newDot = document.createElement("div");
                const newCaption = document.createElement("div");
                newDot.classList.add("slider_dots");
                newDot.setAttribute("id", realId);
                newDot.setAttribute("onclick", ("sliderJump" + "(" + realId + ")"))
                newCaption.classList.add("slider_alts");
                newCaption.innerHTML = sliderImg[realId].alt;
                slider_dots_holder.appendChild(newDot);
                xxx.appendChild(newCaption);
            }

            const sliderdots = slider.querySelectorAll(".slider_dots")
            const slideralts = slider.querySelectorAll(".slider_alts")




             
            function slideTimer() {
                if (currentSlider < sliderCount) {

                    slidNext()
                    window.setTimeout(slideTimer, timerlength)
                } else {

                    sliderJump(0)
                    window.setTimeout(slideTimer, timerlength)
                }
            }

            function sliderShow() {

                sliderImg[currentSlider].style.opacity = "1";
                sliderdots[currentSlider].style.opacity = "1";
                slideralts[currentSlider].style.opacity = "0.8";

            }

            function sliderHide() {

                sliderImg[currentSlider].style.opacity = "0";
                sliderdots[currentSlider].style.opacity = "0.5";
                slideralts[currentSlider].style.opacity = "0";
            }

            function slidNext() {
                if (currentSlider < sliderCount) {

                    sliderHide();
                    currentSlider++;
                    sliderShow();
                } else {

                    sliderHide();
                    currentSlider = 0;
                    sliderShow();
                }
            }

            function slidePrevius() {
                if (currentSlider > 0) {
                    sliderHide();
                    currentSlider--;
                    sliderShow();
                } else {
                    sliderHide();
                    currentSlider = sliderCount;
                    sliderShow();
                }
            }

            function sliderJump(number) {
                sliderHide();
                currentSlider = number;
                sliderShow();
                resetTimer();
            }

            function resetTimer() {
            }

            
            if (sliderCount !== -1) {
                sliderPreviusButton.addEventListener("click", slidePrevius);
                sliderNextButton.addEventListener("click", slidNext);
                sliderShow()
                window.setTimeout(slideTimer, timerlength);
            }
        }
    </script>
</body>
</html>