<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>İnteraktif Bilgi Ekranı</title>
    <link rel="stylesheet" href="/light/css/simplebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/light/css/feather.css">
    <link rel="stylesheet" href="/light/css/select2.css">
    <link rel="stylesheet" href="/light/css/dropzone.css">
    <link rel="stylesheet" href="/light/css/uppy.min.css">
    <link rel="stylesheet" href="/light/css/jquery.steps.css">
    <link rel="stylesheet" href="/light/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/light/css/quill.snow.css">
    <link rel="stylesheet" href="/light/css/daterangepicker.css">
    <link rel="stylesheet" href="/light/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/light/css/app-dark.css" id="darkTheme" disabled>
</head>


<body class="vertical  light  ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-24"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="/About/Index">
                        <i class="fe fe-24 fe-alert-circle"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-md mt-2">
                            <img src="~/light/assets/avatars/05481087-9ab1-485b-bea4-6bf0ab213217.jpg" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/User/UserProfile">Profilime Git</a>
                        <a class="dropdown-item" href="/Login/Logout">Çıkış Yap</a>
                    </div>
                </li>
            </ul>
        </nav>

        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- NAV BAR-->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/About/Index">
                        <span class="avatar avatar-md mt-2">

                            <img src="~/light/Baskent_University_Logo.png" />

                        </span>
                    </a>
                </div>

                <!-- SIDE BAR-->
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    @if (User.IsInRole("ADM"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/Faculty/Index">
                        <i class="fe fe-home fe-24"></i>
                        <span class="ml-3 item-text">FAKÜLTE İŞLEMLERİ</span>
                    </a>
                </li>
}
                    @if (User.IsInRole("ADM"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/Department/Index">
                        <i class="fe fe-layers fe-24"></i>
                        <span class="ml-3 item-text">BÖLÜM İŞLEMLERİ</span>
                    </a>
                </li>}
                    @if (User.IsInRole("ADM") || User.IsInRole("SEK") || User.IsInRole("CAD") || User.IsInRole("İDP"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/New/Index">
                        <i class="fe fe-24 fe-file-text"></i>
                        <span class="ml-3 item-text">HABER İŞLEMLERİ</span>
                    </a>
                </li>}
                    @if (User.IsInRole("ADM"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/Role/Index">
                        <i class="fe fe-24 fe-lock"></i>
                        <span class="ml-3 item-text">YETKİNLİK İŞLEMLERİ</span>
                    </a>
                </li>
}
                    @if (User.IsInRole("ADM") || User.IsInRole("TEK"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/Tv/Index">
                        <i class="fe fe-24 fe-monitor"></i>
                        <span class="ml-3 item-text">EKRAN İŞLEMLERİ</span>
                    </a>
                </li>}
                    @if (User.IsInRole("ADM") || User.IsInRole("CAD") || User.IsInRole("SEK") || User.IsInRole("İDP"))
                    {
                <li class="nav-item w-100">
                    <a class="nav-link" href="/User/Index">
                        <i class="fe fe-user fe-24"></i>
                        <span class="ml-3 item-text">KULLANICI İŞLEMLERİ</span>
                    </a>
                </li>}
                    @if (User.IsInRole("ADM") || User.IsInRole("CAD") || User.IsInRole("SEK") || User.IsInRole("TEK") || User.IsInRole("İDP"))
                    {
                <li class="nav-item dropdown">
                    <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fe fe-24 fe-play"></i>
                        <span class="ml-3 item-text">HABER EKRANLARI</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/CE">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Bilgisayar Mühendisliği</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/Bio">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Biyomedikal Mühendisliği</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/EE">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Elektrik - Elektronik Müh.</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/Endustri">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Endüstri Mühendisliği</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/Insaat">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">İnşaat Mühendisliği</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/Makine">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Makine Mühendisliği</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Slider/Index">
                                <i class="fe fe-16 fe-monitor"></i>
                                <span class="ml-0 item-text">Ana Ekran</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    }
                            </ul>
            </nav>
        </aside>




        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        @*<div class="row align-items-center mb-2">
                                <div class="col">
                                    <h2 class="h4 page-title">İnteraktif Bilgi Ekranı'na hoş geldiniz!</h2>
                                </div>
                            </div>*@


                        <div class="mb-2 align-items-center">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row mt-1 align-items-center">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </main>
    </div>






    <script src="/light/js/jquery.min.js"></script>
    <script src="/light/js/popper.min.js"></script>
    <script src="/light/js/moment.min.js"></script>
    <script src="/light/js/bootstrap.min.js"></script>
    <script src="/light/js/simplebar.min.js"></script>
    <script src='/light/js/daterangepicker.js'></script>
    <script src='/light/js/jquery.stickOnScroll.js'></script>
    <script src="/light/js/tinycolor-min.js"></script>
    <script src="/light/js/config.js"></script>
    <script src="/light/js/d3.min.js"></script>
    <script src="/light/js/topojson.min.js"></script>
    <script src="/light/js/datamaps.all.min.js"></script>
    <script src="/light/js/datamaps-zoomto.js"></script>
    <script src="/light/js/datamaps.custom.js"></script>
    <script src="/light/js/Chart.min.js"></script>
    <script>
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;</script>
    <script src="/light/js/gauge.min.js"></script>
    <script src="/light/js/jquery.sparkline.min.js"></script>
    <script src="/light/js/apexcharts.min.js"></script>
    <script src="/light/js/apexcharts.custom.js"></script>
    <script src='/light/js/jquery.mask.min.js'></script>
    <script src='/light/js/select2.min.js'></script>
    <script src='/light/js/jquery.steps.min.js'></script>
    <script src='/light/js/jquery.validate.min.js'></script>
    <script src='/light/js/jquery.timepicker.js'></script>
    <script src='/light/js/dropzone.min.js'></script>
    <script src='/light/js/uppy.min.js'></script>
    <script src='/light/js/quill.min.js'></script>
    <script>
        $('.select2').select2(
            {
                theme: 'bootstrap4',
            });
        $('.select2-multi').select2(
            {
                multiple: true,
                theme: 'bootstrap4',
            });
        $('.drgpicker').daterangepicker(
            {
                singleDatePicker: true,
                timePicker: false,
                showDropdowns: true,
                locale:
                {
                    format: 'MM/DD/YYYY'
                }
            });
        $('.time-input').timepicker(
            {
                'scrollDefault': 'now',
                'zindex': '9999'
            });

        if ($('.datetimes').length) {
            $('.datetimes').daterangepicker(
                {
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale:
                    {
                        format: 'M/DD hh:mm A'
                    }
                });
        }
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker(
            {
                startDate: start,
                endDate: end,
                ranges:
                {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
        cb(start, end);
        $('.input-placeholder').mask("00/00/0000",
            {
                placeholder: "__/__/____"
            });
        $('.input-zip').mask('00000-000',
            {
                placeholder: "____-___"
            });
        $('.input-money').mask("#.##0,00",
            {
                reverse: true
            });
        $('.input-phoneus').mask('(000) 000-0000');
        $('.input-mixed').mask('AAA 000-S0S');
        $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
            {
                translation:
                {
                    'Z':
                    {
                        pattern: /[0-9]/,
                        optional: true
                    }
                },
                placeholder: "___.___.___.___"
            });
        var editor = document.getElementById('editor');
        if (editor) {
            var toolbarOptions = [
                [
                    {
                        'font': []
                    }],
                [
                    {
                        'header': [1, 2, 3, 4, 5, 6, false]
                    }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [
                    {
                        'header': 1
                    },
                    {
                        'header': 2
                    }],
                [
                    {
                        'list': 'ordered'
                    },
                    {
                        'list': 'bullet'
                    }],
                [
                    {
                        'script': 'sub'
                    },
                    {
                        'script': 'super'
                    }],
                [
                    {
                        'indent': '-1'
                    },
                    {
                        'indent': '+1'
                    }],
                [
                    {
                        'direction': 'rtl'
                    }],
                [
                    {
                        'color': []
                    },
                    {
                        'background': []
                    }],
                [
                    {
                        'align': []
                    }],
                ['clean']
            ];
            var quill = new Quill(editor,
                {
                    modules:
                    {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });
        }
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();</script>
    <script>
        var uptarg = document.getElementById('drag-drop-area');
        if (uptarg) {
            var uppy = Uppy.Core().use(Uppy.Dashboard,
                {
                    inline: true,
                    target: uptarg,
                    proudlyDisplayPoweredByUppy: false,
                    theme: 'dark',
                    width: 770,
                    height: 210,
                    plugins: ['Webcam']
                }).use(Uppy.Tus,
                    {
                        endpoint: 'https://master.tus.io/files/'
                    });
            uppy.on('complete', (result) => {
                console.log('Upload complete! We’ve uploaded these files:', result.successful)
            });
        }</script>
    <script src="/light/js/apps.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');</script>
</body>
</html>