
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4><strong>İletişim</strong></h4>
                @ViewBag.Uyari
                <form action="/SendTicket/Index/" method="post" role="form" class="contactForm" style="width:402px">
                    <div class="form-group">
                        <input type="text" name="NameSurname" class="form-control" id="name" placeholder="İsim Soyisim" data-rule="minlen:4" data-msg="Lütfen en az 4 karekter giriniz" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Email" id="email" placeholder="Mail Adresiniz" data-rule="email" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Subject" id="subject" placeholder="Konu" data-rule="minlen:4" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Message" rows="5" data-rule="required" required placeholder="Mesajınız"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text"><button type="submit" class="btn btn-primary">Gönder</button></div>
                </form>
            </div>
        </div>
    </div>
</section>